@font-face {
    font-family: "forte";
    src: url(../police/Forte.ttf);
}

@font-face {
    font-family: "candara";
    src: url(../police/Candara.ttf);
}

/* HEADER */
body {
    background-color: black;
    font-family: "candara";
}

/* Barre des cookie, gestion de la colo */
.alert {
    background-color: #FFDE59;
    color: #000000;
}

/* Gestion du btn de l'alerte cookies */
.btn {
    MARGIN-left: 150px;
    border: solid #000000;
    background-color: #353535;
    color: blanchedalmond;
}

.image {
    background-image: url(../images/header.jpg);
    background-size: cover;
    width: auto;
    height: 700px;
    margin-bottom: 25px;
    position: relative;
}

/* mise en place logo sur photo du header */
.logoHeader {
    position: absolute;
    top: 300px;
    left: 1100px;
}

.logoPhoto {
    border: solid 2px #000000;
}

.telLogo {
    text-align: center;
    font-family: "forte";
}

/* barNav bootstrap */
nav {
    background-color: #353535;
    height: 50px;
    font-size: 25px;
    margin-bottom: 25px;
    font-style: "forte";
    z-index: 2;
    font-weight: bold;
}

.navbar-nav>li {
    margin-left: 100px;
    font-family: "candara";
}

img {
    width: auto;
    height: 200px;
}

/* corp du texte */
h1 {
    background-color: #FFDE59;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    font-weight: bold;
    font-family: "forte";
    text-shadow: 0px 2px 2px #272727;
}

.picture {
    width: 1050px;
    height: 850px;
    justify-content: center;
}

.prgrph {
    font-size: 25px;
    align-items: flex-start;
    text-shadow: 1px 1px 2px #000000;
    text-align: justify
}

.carousel-item {
    transition: opacity ease-out .7s;
}

/* footer mise en page */
.yellowFont {
    background-color: #FFDE59;
    font-family: "candara"
}

footer {
    border: #000000 1px solid;
    background-color: #353535;
    margin-top: 20px;
    font-family: "candara"
}

.yellowText {
    color: #FFDE59;
    font-weight: bold;
    font-family: "candara"
}

.rs img {
    width: 30px;
    height: 30px;
}

.txt1 {
    display: none;
}

i {
    margin-right: 10px;
}

.Btt {
    background-color: #FFDE59;
    padding: 5px;
    width: 185px
    
}

/* MEDIA QUERIES */
@media screen and (max-width:700px) {
.logoHeader {
    top: 470px;
    left: 30px;
    }

.image {
    background-image: url(../images/headerMobile.jpg);
    background-size: cover;
    width: auto;
    height: 700px;
    margin-bottom: 25px;
    position: relative;
    }

.txt1 {
    display: inline;
    font-size: 25px;
    align-items: flex-start;
    text-shadow: 1px 1px 2px #000000;
    text-align: justify
    }

.navbar-nav {
    background-color: #000000;
    }
}