/* HEADER */

@font-face {
    font-family: "forte";
    src: url(../police/Forte.ttf);
}

@font-face {
    font-family: "candara";
    src: url(../police/Candara.ttf);
}

body {
    background-color: black;
}

/* augmentation du height de 100px pour eviter de déformer l'image */

.image {
  background-image: url(../images/header.jpg);  
  background-size: cover;
  width: auto;
  height: 700px;
  margin-bottom: 25px;
  position: relative;
}

header img{
    width: auto;
    height: 200px;
}

/* mise en place logo sur photo du header */

.logoHeader {
    position: absolute;
    top:300px;
    left:1100px;
}

.logoPhoto {
    border: solid 2px #000000;
}

.telLogo {
    text-align: center;
    font-family: "forte";
}

/* barNav bootstrap */

nav {
    background-color: #353535;
    height: 50px;
    z-index: 1;
    margin-bottom: 25px;
    font-weight: bold;
}

.navbar-nav>li {

    margin-left: 100px;
    font-family: "candara";
    font-weight: bold;
    font-size: 25px;
}

/* BARRE TÉMOIGNAGES */

#barre{
    background-color: #FFDE59;
    height: 80px;
    padding-top: 18px;
    margin-bottom: 30px;
}

#barre h1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 35px;
    font-weight: bold;
    font-family: "forte";
    text-shadow: 0px 2px 2px #272727;
}

/* TÉMOIGNAGES */

.container img{
    width: auto;
    height: 300px;
    margin-left: 30px;
}

.prgrph {
    text-align: justify;
    margin-left: 70px;
    margin-right: 70px;
}

@media screen and (max-width:375px){
    .container img{
        width: auto;
        height: 200px;
        margin: auto;
        padding: 0;
    }
}
/* footer mise en page */

.logo {
    margin-right: 40px;
}

.yellowFont {
    background-color: #FFDE59;
}

footer {
    border: #000000 1px solid;
    background-color:#353535 ;
    margin-top: 20px;
}

.yellowText {
    color:#FFDE59 ;
    font-weight: bold;
}

.rs img {
    width:  30px;
    height: 30px;
} 
i {
    margin-right: 10px;
}

.Btt {
    background-color: #FFDE59;
    padding: 5px;
    width: 205px
  
}

/* MEDIA QUERIES */

@media screen and (max-width:700px){
    
    .logoHeader {
        top:470px;
        left:30px;
    }
    
    .image {
        background-image: url(../images/headerMobile.jpg);  
        background-size: cover;
        width: auto;
        height: 700px;
        margin-bottom: 25px;
        position: relative;
      }
      
      .navbar-nav {
        background-color: #000000;
      }
}







